.nav-drawer {
  transition: all 0.3s ease-out;

  @apply w-[248px] flex flex-col h-screen shrink-0;
}

/* variants */
.nav-drawer-default {
  @apply bg-white;
}

.nav-drawer-primary {
  @apply bg-primary text-white;
}

.nav-drawer-dark {
  @apply bg-[#282A2E] text-white;
}

.nav-drawer-secondary {
  @apply bg-gray-200;
}

/* modifiers */
.nav-drawer--mini {
  @apply w-[62px];
}

.nav-drawer--shadow {
  @apply shadow;
}

.nav-drawer--shadow-sm {
  @apply shadow-sm;
}

.nav-drawer--shadow-md {
  @apply shadow;
}

.nav-drawer--shadow-lg {
  @apply shadow-lg;
}

.nav-drawer--shadow-xl {
  @apply shadow-xl;
}

.nav-drawer--bordered {
  @apply border;
}

.nav-drawer--sticky {
  @apply sticky;
}

.nav-drawer--fixed {
  @apply fixed z-20 top-0;
}

.nav-drawer--right {
  @apply right-0;
}

.nav-drawer--left {
  @apply left-0;
}

/* nav-drawer-transition */
.nav-drawer-transition-enter-active {
  transition: all 0.3s ease-out;
}

.nav-drawer-transition-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.nav-drawer-transition-enter-from,
.nav-drawer-transition-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

/* nav-drawer-right-transition */
.nav-drawer-right-transition-enter-active {
  transition: all 0.3s ease-out;
}

.nav-drawer-right-transition-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.nav-drawer-right-transition-enter-from,
.nav-drawer-right-transition-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

/* overlay */
.nav-drawer-overlay {
  @apply inset-0 bg-black opacity-50 fixed z-10 transition duration-300;
}

.nav-drawer-overlay-transition-enter-active,
.nav-drawer-overlay-transition-leave-active {
  transition: opacity 0.3s ease-out;
}

.nav-drawer-overlay-transition-enter-from,
.nav-drawer-overlay-transition-leave-to {
  opacity: 0;
}
