/*
 * Here you can define your custom CSS variables
 */

:root {
  --v-app-background: var(--color-gray-100);
  --v-app-foreground: var(--color-gray-900);
  --v-app-font-family: 'Inter', sans-serif;
  --v-app-font-size: 1rem;
}

body {
  color: var(--v-app-foreground);
  background-color: var(--v-app-background);
  font-family: var(--v-app-font-family);
  font-size: var(--v-app-font-size);
}

/* default theme */
[data-theme="morpheme"] {
  /* primary colors */
  /* --color-primary-50: #f3f1ff;
  --color-primary-100: #ebe5ff;
  --color-primary-200: #d9ceff;
  --color-primary-300: #bea6ff;
  --color-primary-400: #9f75ff;
  --color-primary-500: #843dff;
  --color-primary-600: #7916ff;
  --color-primary-700: #6b04fd;
  --color-primary-800: #5a03d5;
  --color-primary-900: #2c0076; */

  /* secondary colors */
  /* --color-secondary-25: #fff9f5;
  --color-secondary-50: #fff4ed;
  --color-secondary-100: #ffe7d5;
  --color-secondary-200: #fecaaa;
  --color-secondary-300: #fda06c;
  --color-secondary-400: #fb753c;
  --color-secondary-500: #f95016;
  --color-secondary-600: #ea360c;
  --color-secondary-700: #c2250c;
  --color-secondary-800: #9a1f12;
  --color-secondary-900: #7c1d12; */
}

/*
 * Themes
 * --------
 */
 

/* purplish theme */
[data-theme="purplish"] {
  --v-app-background: var(--color-purple-50);
  --v-app-foreground: var(--color-purple-900);

  --color-primary-50: var(--color-purple-50);
  --color-primary-100: var(--color-purple-100);
  --color-primary-200: var(--color-purple-200);
  --color-primary-300: var(--color-purple-300);
  --color-primary-400: var(--color-purple-400);
  --color-primary-500: var(--color-purple-500);
  --color-primary-600: var(--color-purple-600);
  --color-primary-700: var(--color-purple-700);
  --color-primary-800: var(--color-purple-800);
  --color-primary-900: var(--color-purple-900);

  /* pagination */
  /* item active */
  --v-pagination-item-active-bg-color: var(--color-primary-500);
  --v-pagination-item-active-border-color: var(--color-primary-500);
  /* --v-pagination-item-active-text-color: var(--color-white); */

  /* tabs */
  --v-tabs-item-active-text-color: var(--color-primary-500);
  --v-tabs-slider-bg-color: var(--color-primary-500);
  --v-tabs-slider-border-color: var(--color-primary-500);
 }

/* greenish theme */
[data-theme="greenish"] {
  --v-app-background: var(--color-green-50);
  --v-app-foreground: var(--color-green-900);

  --color-primary-50: var(--color-green-50);
  --color-primary-100: var(--color-green-100);
  --color-primary-200: var(--color-green-200);
  --color-primary-300: var(--color-green-300);
  --color-primary-400: var(--color-green-400);
  --color-primary-500: var(--color-green-500);
  --color-primary-600: var(--color-green-600);
  --color-primary-700: var(--color-green-700);
  --color-primary-800: var(--color-green-800);
  --color-primary-900: var(--color-green-900);
  
  /* pagination */
  /* item active */
  --v-pagination-item-active-bg-color: var(--color-primary-500);
  --v-pagination-item-active-border-color: var(--color-primary-500);
  /* --v-pagination-item-active-text-color: var(--color-white); */

  /* tabs */
  --v-tabs-item-active-text-color: var(--color-primary-500);
  --v-tabs-slider-bg-color: var(--color-primary-500);
  --v-tabs-slider-border-color: var(--color-primary-500);
 }

  /* pink theme */
[data-theme="pink"] {  
  --v-app-background: var(--color-pink-50);
  --v-app-foreground: var(--color-pink-900);

  --color-primary-50: var(--color-pink-50);
  --color-primary-100: var(--color-pink-100);
  --color-primary-200: var(--color-pink-200);
  --color-primary-300: var(--color-pink-300);
  --color-primary-400: var(--color-pink-400);
  --color-primary-500: var(--color-pink-500);
  --color-primary-600: var(--color-pink-600);
  --color-primary-700: var(--color-pink-700);
  --color-primary-800: var(--color-pink-800);
  --color-primary-900: var(--color-pink-900);
  
  /* pagination */
  /* item active */
  --v-pagination-item-active-bg-color: var(--color-primary-500);
  --v-pagination-item-active-border-color: var(--color-primary-500);
  /* --v-pagination-item-active-text-color: var(--color-white); */

  /* tabs */
  --v-tabs-item-active-text-color: var(--color-primary-500);
  --v-tabs-slider-bg-color: var(--color-primary-500);
  --v-tabs-slider-border-color: var(--color-primary-500);
}

/* blue theme */
[data-theme="blue"] {
  --v-app-background: var(--color-blue-50);
  --v-app-foreground: var(--color-blue-900);

  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  
  /* pagination */
  /* item active */
  --v-pagination-item-active-bg-color: var(--color-primary-500);
  --v-pagination-item-active-border-color: var(--color-primary-500);
  /* --v-pagination-item-active-text-color: var(--color-white); */

  /* tabs */
  --v-tabs-item-active-text-color: var(--color-primary-500);
  --v-tabs-slider-bg-color: var(--color-primary-500);
  --v-tabs-slider-border-color: var(--color-primary-500);
 }