:root {
  --body-bg-color: var(--color-white);
  --body-text-color: var(--color-gray-700);
}

body {
  background: var(--body-bg-color);
  color: var(--body-text-color);

  @apply transition-colors duration-300;
}

.dark {
  body {
    --body-bg-color: var(--color-gray-true-900);
    --body-text-color: var(--color-gray-true-200);
  }

  // change default app bar dark mode bg color
  // .app-bar-default {
  //   --app-bar-bg-color: theme('colors.neutral.900') !important;
  // }
}

  